/* Chart Generator */
.chartGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.chartGeneratorControls {
  width: 300px;
}

.chartGeneratorOutput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chartGeneratorPreview {
  /* border: 2px solid #faebd7; */
  aspect-ratio: 1;
  background-color: #ffffff;
  /* border: 2px solid var(--border-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cGenCheckboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cGenCheckboxes input {
  margin: 0;
  padding: 0;
  width: 20px;
  display: inline-block;
}
.cGenCheckboxes label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.chartGeneratorBtns {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.chartGeneratorBtns > button {
  padding: 5px 20px;
}
#cGenExportType {
  padding: 5px 20px;
  margin: 0;
  height: 100%;
}
