/* HTML Table Generator */
.htmlTableGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.htmlTableGeneratorControls {
  width: 400px;
}

.htmlTableGeneratorOutput {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.htmlTableGeneratorPreview {
  aspect-ratio: 16 / 9;
  background-color: #faebd7;
  border: 2px solid var(--border-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}
.htmlTableGeneratorPreview p {
  font-size: 0.8rem;
}
.htmlTableGeneratorCode {
  border: 2px solid var(--border-color);
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
  overflow: auto;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.htmlTableGeneratorBtns {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.htmlTableGeneratorBtns > button {
  padding: 5px 20px;
}

.htmlTableGeneratorPreview table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
}
.htmlTableGeneratorPreview table th {
  border: 1px solid #b3adad;
  padding: 5px;
  background: #f0f0f0;
  color: #313030;
}
.htmlTableGeneratorPreview table td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}
