@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap");

:root {
  --font-color: #000000;
  --bg-color: #faebd7;
  --border-color: #000000;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --modal-bg-color: rgba(0, 0, 0, 0.4);
  --search-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  --hover-color: #ffffff;
  --hover-bg-color: #000000;

  --github-btn-image1: none;
  --github-btn-image2: block;
}

[data-theme="dark"] {
  --font-color: #ffffff;
  --bg-color: #2d3250;
  --border-color: #ffffff;
  --box-shadow: rgba(255, 255, 255, 0.2);
  --modal-bg-color: rgba(255, 255, 255, 0.4);
  --search-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  --hover-color: #000000;
  --hover-bg-color: #ffffff;

  --github-btn-image1: block;
  --github-btn-image2: none;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  /* font-family: "Pacifico", cursive; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  font-size: 1rem;
  color: var(--font-color);
}
code {
  font-size: 0.8rem;
}
button,
input,
select {
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  background-color: transparent;
  box-sizing: border-box;
}
label {
  font-size: 0.9rem;
}
button {
  border-radius: 5px;
  border: 2px solid var(--border-color);
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

.mainContainer {
  width: calc(100% - 40px);
  /* width: 100%; */
  max-width: 800px;
  /* padding: 0 10px; */
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
/* Toggle Button */
/* outer-container styles */

.outer-container {
  font-size: 0.5rem;
  background-color: transparent;
  /* height: 100vh; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.outer-container.light {
  background-color: transparent;
}

/* container "the whole button" styles */

.container {
  background: var(--bg-color);
  width: 8em;
  height: 3.2em;
  border-radius: 50px;
  border: solid var(--border-color) 2px;
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

.light .container {
  background: var(--bg-color);
}

/* sun and moon styles */

.circle {
  position: relative;
  height: 100%;
  width: 35%;
  background: var(--font-color);
  border-radius: 50%;
  transition: all 0.3s;
  border: 0.5em solid var(--font-color);
}

.light .circle {
  background: var(--font-color);
  transform: translateX(190%);
  box-shadow: none;
}

.light .circle::after,
.light .circle::before {
  display: none;
}

/* animations */
@keyframes scaleItUp {
  from {
    transform: scale(0);
  }
}

/* Toggle button ends */

#logo {
  width: 50px;
}
#mainMenu {
  display: flex;
  align-items: center;
}
#mainMenu > a,
#mainMenu > div {
  margin-right: 20px;
  text-decoration: none;
  color: var(--font-color);
}

#mainMenu > a:hover {
  border-bottom: var(--border-color) solid 2px;
}

#githubBtn {
  padding: 5px 20px;
}

.btnflex {
  display: flex;
  align-items: center;
}
.btnflex > img {
  width: 25px;
  margin-right: 5px;
}

/* For github button hover effect:start */
#githubBtn img:nth-child(1) {
  display: var(--github-btn-image1);
}
#githubBtn img:nth-child(2) {
  display: var(--github-btn-image2);
}

#githubBtn:hover img:nth-child(1) {
  display: var(--github-btn-image2);
}
#githubBtn:hover img:nth-child(2) {
  display: var(--github-btn-image1);
}
/* For github button hover effect:end */

.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
  background-image: var(--search-bg);
}

.searchSection > h1 {
  font-family: "Pacifico", cursive;
  /* padding: 0; */
  margin: 0;
}
#search {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  border: solid var(--border-color) 2px;
  font-size: 1rem;
}

#search:focus {
  outline: none;
}
/* To remove the close button on the search field */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.suggestions {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.suggestions button {
  padding: 5px 20px;
  margin: 0;
}
hr {
  margin: 20px 0;
}
.toolSection {
  margin: 50px 0;
  text-align: center;
}
.toolContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.toolItem {
  padding: 5px 20px;
  /* margin: 0 10px 20px 10px; */
}
footer {
  display: flex;
  justify-content: space-between;
}

/* Search function styles */

.searchContainer {
  width: 100%;
  position: relative;
  margin: 15px auto;
}
.searchContainer input,
.searchContainer .searchSuggestions {
  width: 100%;
  background: var(--bg-color);
  text-align: center;
}
.searchContainer input {
  background-color: transparent;
}
.searchContainer .searchSuggestions {
  position: absolute;
  top: 60px;
}

.searchSuggestions ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 var(--box-shadow);
  max-height: 200px;
  overflow-y: auto;
}
.searchSuggestions ul.has-suggestions {
  display: block;
}
.searchSuggestions ul li {
  padding: 10px;
  cursor: pointer;
  background: var(--bg-color);
}
.searchSuggestions ul li:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

/* Modal styles */
.modal {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color); /* Black w/ opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.modalContent {
  background-color: var(--bg-color);
  max-width: 800px;
  margin: 50px;
  padding: 20px;
  /* position: relative; */
}
.modalContent h4 {
  margin: 20px 0 20px 0;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalHeader h3 {
  margin: 0;
}
.modalDescription {
  text-align: justify;
}

/* The Close Button */
.close {
  color: var(--font-color);
  width: 50px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
